:root {
    --primary-color: #fa9c22;
    --secondary-color: #263238;
    --tertiary-color: #e8eaec;
    --quartenary-color: #000000;
    --quinary-color: #29353d;
    --senary-color: #fff;

    --scroll-color: #41414126;
    --icon-color1: #4300df;
    --icon-color2: #f39c12;
}
