
/* Color for light mode */
body.light {
    background-color: var(--tertiary-color);
}

body.light p,
body.light h1,
body.light h2,
body.light h3,
body.light .upLetter,
body.light .menu:hover a,
body.light .project .links-icons a {
    color: var(--secondary-color);
}

body.light .developer .upLetter,
body.light .item-menu a:hover,
body.light .project .links-icons a:hover {
    color: var(--primary-color);
}

body.light .project,
body.light .input,
body.light .textarea {
    background-color: var(--senary-color);
}

body.light .categories button {
    background-color: var(--tertiary-color);
}

body.light .categories button:hover {
    background-color: #e2e1e1;
}

body.light .mobile-menu div {
    background-color: var(--secondary-color);
}

/* Tab navigation */
.logo:focus-within {
    scale: 1.1;
}

body.light .menu a:focus {
    color: var(--secondary-color);
}

.menu:hover .item-menu a , .menu .item-menu a:focus {
    color: var(--tertiary-color);
}

.social-medias a:focus i {
    animation: icons 0.4s step-start infinite;
}

.curriculum:focus-within {
    box-shadow: 5px 5px 0 0 var(--quartenary-color);
        transform: translate(-5px, -5px);
}

.categories button:focus {
    background-color: #324149;
}

body.light .categories button:focus {
    background-color: #e2e1e1;
}

.project-img img:focus {
    transform: scale(1.05);
}

.links-icons a:focus {
    color: var(--primary-color);
}

.submit-btn button#btn-sendmail:focus {
    animation: buttonAnimation 0.3s ease both;
}

.footer-info picture:focus-within  {
    transform: scale(1.1);
}






