.light-mode {
    display: flex;
    margin-right: 7em;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--quartenary-color);
    cursor: pointer;
    border-radius: 50px;
    padding: 0.3em;
    position: relative;
    height: 1.6em;
    width: 3.15em;
    transform: scale(1.2);
}

.ball {
    background-color: var(--tertiary-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 1.3em;
    height: 1.3em;
    transform: scaleX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .icons .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: var(--icon-color1);
}

.fa-sun {
    color: var(--icon-color2);
}
